.head{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    /* margin-right: 40px; */
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
        background: #FFF;
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}